<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-custom nav-background-image" @*style="height:165px; margin-bottom: 0px; border-bottom: 5px solid gray"*@>
        <div class="container ">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                @*<div class="navbar-brand navbar-brand-custom">
                        <span class="glyphicon glyphicon-asterisk" ></span>
                        @Html.ActionLink("lyfestyle apps", "Index", "Home", new { area = "" })
                    </div>*@
                <div class="logo">
                    <span class="glyphicon glyphicon-asterisk navbar-brand navbar-brand-custom" ></span>
                    @Html.ActionLink("lyfestyle apps", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-brand-custom" })
                </div>
                @*<span class="glyphicon glyphicon-asterisk navbar-brand navbar-brand-custom" style="font-size: 4em;"></span>
                    @Html.ActionLink("lyfestyle apps", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-brand-custom", style = "font-size: 4em;" })*@
            </div>

            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("eat", "Index", "Home", new { @id ="eat-text" })</li>
                        <li>@Html.ActionLink("train", "About", "Home", new { @id = "train-text" })</li>
                        <li>@Html.ActionLink("live", "Contact", "Home", new { @id = "live-text" })</li>
                    </ul>*@
                @*@Html.Partial("_LoginPartial")*@
            </div>


        </div>
        @*<div class="col-md-12 text-center" >
                <h1>Get the most out of life</h1>
            </div>*@
    </div>
    <div class="body-content">
        @RenderBody()
        @*<hr />*@

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h5>&copy; @DateTime.Now.Year - lyfestyle apps</h5>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>


        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
